/* Set office colours variables */
:root {
  --text-main: #070c0e;
  --text-second: #4a7c7c;
  --color-main: #202229;
  --color-second: #fff;
  --color-background: #4a7c7c;
  --color-background2: #4a7c7c;
  --color-background3: #43B3D9;
}

/* Global style changes */
* {
  box-sizing: border-box;
  font: "Fira Sans", serif;
}

/* header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  background-color: var(--color-background2);
  }

  /* Logo Styles */
.logo {
  background: var(--text-main);
  width: 8em;
  margin: 10px 0px;
  text-align: right;
}

.logo a {
text-decoration: none;
color: var(--text-second)
}

.logo a:link,a:hover {
text-decoration: none;
color: var(--color-second)
}
 
/* Navigation style */
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  }
  
nav li {
  border-bottom: 4px solid;
  border-color: var(--text-main);
  margin: 5px;
}

nav a {
  color: var(--text-main);
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  font-size: 24px;
  font-weight: 200;
}

nav a:hover {
  color:var(--color-second);  
}

/* Global Body style changes of the website */
body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  line-height: 1.3;
}


/* Main Style Section of the website */
main {
  width: fit-content;
}

.main-div {
  display: flex;
  width: 100%;
}

h1 {
  font-size: 200%;
  }
  
h2 {
margin: 2% 0;
font-size: 250%;
}

div h1 {
  font-size: 100%;
  }

/* Cover Style */
.cover {
  width: fit-content;
  width: 100vw;
  height: 30vh;
}

.cover img {
  display: fill;
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
  
.cover-text {
  display: block;
  position: absolute;
  width: 16em;
  text-align: center;
  right: 0;
  background-color: var(--color-background2);
  padding: 10px;
  margin: -80px 50px;
}

/* left side section of the website CSS style*/
aside {
  flex: 1;
  text-align: right;
  border-right: 5px solid var(--color-background);
  padding: 0 20px;
  margin: 10px;
}

/* Products and Work section style changes */

.products {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.card {
  display: block;
  position: relative;
  align-items: center;
  border: 5px solid var(--color-background);  
  margin: 1%;
  width: 48%;
  height: auto;
}


.card img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.card:hover, .card-main:hover{
  box-shadow: 10px 10px 5px var(--color-background);
  -moz-box-shadow: 0px 10px 5px var(--color-background);
-webkit-box-shadow: 0px 10px 20px var(--color-background); 
opacity: 0.7;
}

.card-title {
  display: block;
  position:absolute;
  padding: 20px;
  width: 16em;
  text-align: center;
  background-color: var(--color-background2);
  bottom:50px;
    left:0;
  }

.card-main {
  display: block;
  position: relative;
  align-items: center;
  border: 5px solid var(--color-background);
  margin: 1%;
  width: 98%;
}


.card-main img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.card-main-title {
  display: block;
  padding: 20px;
  width: 16em;
  text-align: center;
  background-color: var(--color-background2);
  position:absolute;
  bottom:50px;
  left:0;
  }



/* Contact Me section style changes*/
.contact-me {
  flex: 4;
  padding: 20px;
  margin: 20px;
  justify-content: space-evenly;
  color: var(--text-main);
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}


.contact-me a {
  color: var(--text-main);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}


.contact-me ul {
  display: flex;
  justify-content: space-between;
  }
  
.contact-me li {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 4px solid;
  border-color: var(--text-main);
  margin: 5px;
}

.contact-me a:hover,.contact-me li:hover {
  color:var(--text-second);  
  border-color: var(--text-second);
}


/* Footer section Style*/
footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--color-background);
  color: var(--text-main);
  margin-top: auto;
}



/* Mobile CSS changes*/
@media screen and (max-width: 769px) {
  header, main, .main-div {
    flex-direction: column;
    width: 100%;
  }

  nav a {
    font-size: 18px;
    font-weight: 200;
    padding: 2px;
  }

  .logo {
    text-align:center;
  }

  section {
    padding-right: 0;
  }

  aside {
    border-right: 0;
    border-bottom: 5px solid var(--color-background);
    text-align: center;

  }

  .card {
    margin: 1%;
    width: 98%;
  }

  .contact-me ul {
    display: inline;
    align-items: center;
  }

  .contact-me a{
    align-items: center;
  }

  .contact-me li{
    align-items: center;
  }

  .card-main-title {
    padding: 5px;
    width: 10em;
  }

  .card-title {
    padding: 5px;
    
  }

}

/* Tablet CSS changes*/
@media screen and (max-width: 1100px) {


  .contact-me ul {
    display: block;
    align-items: center;
  }

  .contact-me a{
    align-items: block;
  }

  .contact-me li{
    align-items: block;
  }


}